<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectoemtaja">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Emt AJA"
        android:roundIcon="@mipmap/logo_emt"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoEmtAja"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CambiarClaveActivity"
            android:exported="false" />
        <activity
            android:name=".BuscarParadaActivity"
            android:exported="false"
            android:label="Buscar parada"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActualizarActivity"
            android:exported="false"
            android:label="Actualización de usuarios"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MenuPrincipalActivity"
            android:exported="false"
            android:label="@string/title_activity_menu_principal"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ListaParadasLinea"
            android:exported="false"
            android:label="Lista de paradas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="Tiempos de espera"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Registro"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:label="Login"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA08gzIQ5sBTdvmtG5JJKrqJWORQUpb1W4" />
    </application>

</manifest>